body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.menu-item {
  background-color: #f4f4f4;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 20px;
  margin: 10px;
  position: relative;
}

.menu-item p {
  margin-top: 30px;
}

/* Section Title */
.section-title {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #333;
  color: white;
  padding: 5px;
  border: 1px solid black;
}

/* Desktop Styles */
@media (min-width: 992px) {
  .menu-item {
    width: 30%;
  }
}

/* Tablet Styles */
@media (min-width: 768px) and (max-width: 991px) {
  .menu-item:nth-child(1),
  .menu-item:nth-child(2) {
    width: 45%;
  }

  .menu-item:nth-child(3) {
    width: 100%;
  }
}

/* Mobile Styles */
@media (max-width: 767px) {
  .menu-item {
    width: 100%;
  }
}
